body{

margin:0;
font-family:Arial,Helvetica,sans-serif;

background:#f8f8f8;

display:flex;
justify-content:center;

padding:30px;

}

.chat-container{

width:700px;

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

header{

background:#000;

color:white;

padding:20px;

text-align:center;

}

.logo{

width:150px;

margin-bottom:10px;

}

#latestQuestion{

padding:15px;

background:#EFE7DD;

font-weight:bold;

}

#chatBox{

height:500px;

overflow-y:auto;

padding:20px;

background:#fafafa;

display:flex;

flex-direction:column;

gap:15px;

}

.message{

padding:12px 18px;

border-radius:20px;

max-width:80%;

line-height:1.5;

}

.user{

background:#000;

color:white;

align-self:flex-end;

}

.bot{

background:#E5E5E5;

align-self:flex-start;

}

.input-area{

display:flex;

padding:20px;

gap:10px;

}

input{

flex:1;

padding:14px;

font-size:16px;

border-radius:10px;

border:1px solid #ccc;

}

button{

background:#000;

color:white;

border:none;

padding:14px 25px;

cursor:pointer;

border-radius:10px;

}

button:hover{

background:#555;

}

footer{

text-align:center;

padding:12px;

background:#EFE7DD;

}

@media(max-width:700px){

.chat-container{

width:100%;

}

} 